body {
    font-family: Agency FB;
    background: #ffdb67;
}

@font-face {
    font-family: 'Agency FB';
    src: url('fonts/AgencyFB-Reg.woff2') format('woff2'),
            url('fonts/AgencyFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agency FB';
    src: url('fonts/AgencyFB-Bold.woff2') format('woff2'),
            url('fonts/AgencyFB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

nav {
    width: 60%;
    margin-left: 20%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 1.6em;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 0px;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.projects-section {
    width: 100%;
    padding: 60px 0;
}

#projects-title {
    font-size: 5em;
    font-weight: bold;
    padding-left: 0.5%;
}

.projects-description {
    font-size: 1.6em;
    padding-left: 7%;
    padding-right: 20%;
    line-height: 40px;
    margin-top: -10px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.project-card {
    background: #ffdb67;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 0px;
    padding: 20px 25px;
}

.project-card h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1.3em;
    line-height: 28px;
    margin-bottom: 15px;
}

.project-card span {
    font-size: 1.1em;
    font-weight: bold;
    color: #dc3545;
}

footer {
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    padding: 20px 0;
    border-top: 2px solid black;
    text-align: center;
    font-size: 1.4em;
}

@media (max-width: 1024px) {

    nav {
        width: 90%;
        margin-left: 5%;
        gap: 50px;
        font-size: 1.4em;
    }

    #projects-title {
        font-size: 4em;
    }

    .projects-description {
        font-size: 1.4em;
        padding-right: 10%;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 768px) {

    nav {
        width: 95%;
        margin-left: 2.5%;
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
        padding: 10px 0;
        font-size: 1.2em;
    }

    #projects-title {
        font-size: 3em;
        text-align: center;
    }

    .projects-description {
        font-size: 1.2em;
        padding: 0 5%;
        text-align: justify;
        line-height: 30px;
    }

    .projects-container {
        grid-template-columns: 1fr;
        width: 95%;
        margin-left: 2.5%;
    }

    .project-card h2 {
        font-size: 2em;
    }

    .project-card p {
        font-size: 1.2em;
    }

    footer {
        width: 90%;
        margin-left: 5%;
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {

    nav {
        font-size: 1em;
    }

    #projects-title {
        font-size: 2.5em;
    }

    .project-card {
        padding: 15px;
    }

    .project-card h2 {
        font-size: 1.7em;
    }

    .project-card p {
        font-size: 1.1em;
    }
}
