body {
    font-family: 'Agency FB', sans-serif;
    background: #ffdb67;
}

@font-face {
    font-family: 'Agency FB';
    src: url('fonts/AgencyFB-Reg.woff2') format('woff2'),
            url('fonts/AgencyFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agency FB';
    src: url('fonts/AgencyFB-Bold.woff2') format('woff2'),
            url('fonts/AgencyFB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

nav {
    width: 60%;
    height: 5vh;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 1.6em;
    text-decoration: none;
    border:2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 0px 0px;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 95.3vh;
    position: relative;
}

#my-name {
    position: absolute;
    top: 27%;
    left: 0.5%;
    font-size: 3em;
    font-weight: 100;
}
#welcome-text {
    position: absolute;
    top: 38%;
    left: 24%;
    transform: translate(-50%, -50%);
    font-size: 5.5em;
    font-weight: bold;
}
#description {
    position: absolute;
    top: 50%;
    left: 0.5%;
    font-size: 2em;
    font-weight: 100;
}
.button-container {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 65%;
    left: 0.5%;
}
.button-box {
    text-decoration: none;
    color: black;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
#button-box-1 {
    background-color: #000000;
    color: #ffdb67;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 0px 0px;
}
#button-box-2 {
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 0px 0px;
}

#about-me {
    font-size: 5em;
    font-weight: bold;
    padding-left: 0.5%;
}
.about-description {
    line-height: 40px;
    font-size: 1.6em;
    font-weight: 100;
    padding-left: 7%;
    padding-right: 20%;
    margin-top: -1%;
}

#insight {
    font-size: 5em;
    font-weight: bold;
    padding-left: 0.5%;
}

.insight-description {
    line-height: 40px;
    font-size: 1.6em;
    font-weight: 500;
    padding-left: 7%;
    padding-right: 20%;
    margin-top: -1%;
}
.insight-cards {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.insight-container-1, .insight-container-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.insight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    background: #ffdb67;
    border: #000000 2px solid;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 0px 0px;
}

.insight-title {
    font-weight: 600;
    font-size: 2em;
    color: #333;
}

.insight-value {
    font-size: 1.8em;
    font-weight: 700;
    color: #dc3545;
}

.container1 {
    width: 100%;
    height: 60vh;
    position: relative;
}

#contact-me {
    font-size: 5em;
    font-weight: bold;
    padding-left: 0.5%;
}

.contact-description {
    line-height: 40px;
    font-size: 1.6em;
    font-weight: 100;
    padding-left: 7%;
    padding-right: 20%;
    margin-top: -1%;
}

.insight-cards2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}
.insight-container-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
    justify-content: center;
}


.insight-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    background: #ffdb67;
    border: #000000 2px solid;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 0px 0px;
}

.insight-title {
    font-size: 2em;
    color: #333;
    padding-left: 10px;
    padding-right: 60px;
}

.insight-value {
    padding-right: 10px;
    font-size: 1.8em;
    font-weight: 700;
    color: #dc3545;
}

.insight-value-a {
    text-decoration: none;
    color: #dc3545;
}

.subtitle-1 {
    font-size: 2em;
    font-weight: bold;
}
.subtitle-2 {
    margin-top: 1px;
    font-size: 1.5em;
    font-weight: bold;
}
#contact-hr {
    width: 80%;
    margin-left: 10%;
    color: #000;
    border: #333 1px solid;
}

.contact-data {
    width: 40%;
    height: 85vh;
    margin-left: 30%;
    border: #000000 2px solid;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#contact-form {
    margin-top: 5vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
}
.contact-form-data {
    padding-left: 10px;
    border: #000 2px solid;
    width: 70%;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    font-family: agency fb;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 0px 0px;
}
#message {
    padding-top: 10px;
    padding-left: 10px;
    border: #000 2px solid;
    width: 70%;
    height: 80px;
    font-size: 1em;
    font-weight: bold;
    font-family: agency fb;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 0px 0px;
}
#submit {
    font-family: agency fb;
    border: #000 2px solid;
    background-color: #ffd13b;
    width: 40%;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px 0px 0px;
}


footer {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    margin-top: 20vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
    justify-content: center;
    border-top: #000000 2px solid;
    display: flex;
    font-size: 1.5em;
    font-weight: 100;
}

@media (max-width: 1024px) {

    nav {
        width: 90%;
        margin-left: 5%;
        gap: 50px;
        font-size: 1.4em;
    }

    #my-name {
        font-size: 2.5em;
        top: 25%;
    }

    #welcome-text {
        font-size: 4em;
        left: 50%;
        text-align: center;
    }

    #description {
        font-size: 1.6em;
        top: 48%;
    }

    .button-container {
        top: 62%;
    }

    .about-description,
    .insight-description,
    .contact-description {
        padding-right: 10%;
        font-size: 1.4em;
        line-height: 34px;
    }

    .insight-container-1,
    .insight-container-2 {
        width: 45%;
    }

    .contact-data {
        width: 60%;
        margin-left: 20%;
    }
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    nav {
        width: 95%;
        margin-left: 2.5%;
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
        padding: 10px 0;
        font-size: 1.2em;
    }

    .container {
        height: auto;
        padding-bottom: 50px;
    }

    #my-name,
    #welcome-text,
    #description {
        position: static;
        transform: none;
        text-align: center;
        margin-top: 20px;
    }

    #my-name {
        font-size: 2em;
    }

    #welcome-text {
        font-size: 2.8em;
    }

    #description {
        font-size: 1.4em;
    }

    .button-container {
        position: static;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    #about-me,
    #insight,
    #contact-me {
        font-size: 3em;
        text-align: center;
    }

    .about-description,
    .insight-description,
    .contact-description {
        padding: 0 5%;
        font-size: 1.2em;
        line-height: 30px;
        text-align: justify;
    }

    .insight-cards {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .insight-container-1,
    .insight-container-2 {
        width: 90%;
    }

    .insight-item,
    .insight-item2 {
        height: auto;
        flex-wrap: wrap;
        gap: 10px;
    }

    .insight-title {
        font-size: 1.4em;
        padding-right: 0;
    }

    .insight-value {
        font-size: 1.3em;
    }

    .container1 {
        height: auto;
        padding-bottom: 60px;
    }

    .contact-data {
        width: 90%;
        margin-left: 5%;
        height: auto;
        padding-bottom: 30px;
    }

    .contact-form-data,
    #message {
        width: 85%;
    }

    #submit {
        width: 70%;
        font-size: 1.2em;
    }

    .insight-container-3 {
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
    }

    footer {
        width: 90%;
        margin-left: 5%;
        font-size: 1.2em;
        text-align: center;
    }
}

@media (max-width: 480px) {

    nav {
        font-size: 1em;
    }

    #welcome-text {
        font-size: 2.2em;
    }

    .button-box {
        width: 130px;
        height: 38px;
        font-size: 1.2em;
    }

    .subtitle-1 {
        font-size: 1.5em;
        text-align: center;
    }

    .subtitle-2 {
        font-size: 1.2em;
        text-align: center;
    }
}
